Options +FollowSymLinks
Options -Indexes
RewriteEngine On
RewriteBase /lf3/

RewriteRule ^i/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2 [QSA,L]
RewriteRule ^i/([^\/]+)/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2&v3=$3 [QSA,L]
RewriteRule ^i/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2&v3=$3&v4=$4 [QSA,L]
RewriteRule ^i/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2&v1=$1&v2=$2&v3=$3&v4=$4&v5=$5 [QSA,L]
RewriteRule ^i/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2&v1=$1&v2=$2&v3=$3&v4=$4&v5=$5&v6=$6 [QSA,L]
RewriteRule ^i/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2&v1=$1&v2=$2&v3=$3&v4=$4&v5=$5&v6=$6&v7=$7 [QSA,L]
RewriteRule ^i/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2&v1=$1&v2=$2&v3=$3&v4=$4&v5=$5&v6=$6&v7=$7&v8=$8 [QSA,L]
RewriteRule ^i/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/?$ image.php?v1=$1&v2=$2&v1=$1&v2=$2&v3=$3&v4=$4&v5=$5&v6=$6&v7=$7&v8=$8&v9=$9 [QSA,L]